<% content_for :page_title do %>
Memberships - 
<% end %>
<div class="container">
<div class="page-header">
<h1>
<div class="pull-left">
<%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, "/", class: "btn btn-default", title: "Back" %>
&nbsp;
</div>

<div class="pull-right">
<%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" aria-hidden=\"true\"></span> New Membership".html_safe, [:new, :admin, @org, :membership], class: "btn btn-success" %>
</div>
Listing Memberships
<small>
  <%= @org.name %>
</small>
</h1>
</div>

<table class="table table-striped table-hover tablesorter" id="Memberships-table">


  <thead>
<tr>
    
      <th><span>User</span></th>
      <th><span>Privileges</span></th>
      
    </tr>
  </thead>

  <tbody>
    <% unless @memberships.any? %>
<tr id="empty-table">
<td class="bg-warning" colspan="2">No memberships created yet.</td>
</tr>
<% end %>
<% @memberships.each do |membership| %>
<tr class="linked-row" data-href="<%= admin_org_membership_path(membership.org, membership) %>">
      
        <td><%= link_to membership.user.full_name, [:admin, membership.org, membership] %></td>
        <td><%= link_to membership.privileges, [:admin, membership.org, membership] %></td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>




