<%= form_for([@campaign.org, @campaign]) do |f| %>
<% if @campaign.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
  <strong><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</strong>

  <ul>
    <% @campaign.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="form-group<%= f.object.errors[:name].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :name, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group<%= f.object.errors[:total_budget_in_cents].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :total_budget_in_cents, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.number_field :total_budget_in_cents, { class: "form-control" } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group<%= f.object.errors[:goal_type].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :goal_type, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.select :goal_type, Campaign::GOAL_TYPES.keys.map {|k| [ Campaign::GOAL_TYPES[k], k.to_s ] }, { prompt: '-Select Type of Goal-' }, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:goal_value].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :goal_value, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.number_field :goal_value, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:flights].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :flights, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <hr/>
      <div id="flights">
      </div>
      <div id="flight-template" style="display:none">
        <div id="flight__INDEX_">
          <div class="pull-right">
            <a class="btn btn-danger btn-xs remove-flight-btn" data-remove-flight-index="_INDEX_" role="button">Remove Flight</a>
          </div>
          <% ['starts', 'ends'].each do |cat| %>
        
          <%= label_tag "campaign[flights][_INDEX_][#{cat}_at][date]", "Flight #{cat.titleize}:", { class: "control-label" } %>
          <div class="row">
            <div class="col-sm-4">
              <%= date_field_tag "campaign[flights][_INDEX_][#{cat}_at][date]", nil, { class: "form-control" } %>
            </div>
            <div class="col-sm-4">
              <%= time_field_tag "campaign[flights][_INDEX_][#{cat}_at][time]", nil, { class: "form-control" } %>
            </div>
            <div class="col-sm-4">
              <%= select_tag "campaign[flights][_INDEX_][#{cat}_at][timezone]", options_for_select(ActiveSupport::TimeZone::MAPPING.values.map {|a| [ a, a ] }, []), { class: "form-control" } %>
            </div>
          </div>
          <% end %>
        
          <hr/>
        </div>
      </div>
      <a id="add-flight-button" class="btn btn-info btn-sm" role="button">Add Another Flight</a>
    </div>
  </div>
</div>

<div class="actions text-center">
  <%= f.submit class: "btn btn-success" %>
</div>
<% end %>
