<%= form_for([@campaign.org, @campaign]) do |f| %>
<% if @campaign.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
  <strong><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</strong>

  <ul>
    <% @campaign.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="form-group<%= f.object.errors[:name].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :name, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group<%= f.object.errors[:total_budget_in_cents].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :total_budget_in_cents, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.number_field :total_budget_in_cents, { class: "form-control" } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group<%= f.object.errors[:goal_type].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :goal_type, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.select :goal_type, Campaign::GOAL_TYPES.keys.map {|k| [ Campaign::GOAL_TYPES[k], k.to_s ] }, { prompt: '-Select Type of Goal-' }, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:goal_value].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :goal_value, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.number_field :goal_value, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:flights].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :flights, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_area :flights, { class: "form-control" } %>
    </div>
  </div>
</div>

<div class="actions text-center">
  <%= f.submit class: "btn btn-success" %>
</div>
<% end %>
